<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edward.mt.mapper.DishMapper">
    <resultMap id="showDishAndCategory" type="com.edward.mt.bean.Dish">
        <id property="id" column="id"/>
        <result column="dish_name" property="dishName"></result>
        <result column="dish_des" property="dishDes"></result>
        <result column="dish_img" property="dishImg"></result>
        <result column="price" property="price"></result>
        <result column="created" property="created"></result>
        <result column="updated" property="updated"></result>
        <result column="buy_count" property="buyCount"></result>
        <association property="category" javaType="com.edward.mt.bean.DishCategory">
            <id column="id" property="id"></id>
            <result column="dish_category_name" property="dishCategoryName"></result>
        </association>
    </resultMap>
    <select id="showDishByPage" parameterType="int" resultMap="showDishAndCategory">
        SELECT
            a.id,
            a.dish_name,
            a.dish_des,
            a.created,
            a.updated,
            a.price,
            a.buy_count,
            a.dish_img,
            b.dish_category_name
        FROM
            dish a
        LEFT JOIN dish_category b ON a.parent_id = b.id
        WHERE
            a. STATUS = 1
        AND b. STATUS = 1
        LIMIT #{startIndex},
         5
    </select>
    <select id="dishNum" resultType="int">
        SELECT COUNT(*) FROM dish where `STATUS` = 1
    </select>

    <insert id="addDish" parameterType="com.edward.mt.bean.Dish">
        INSERT INTO dish(dish_name, dish_des, dish_img, price, created, updated, STATUS, parent_id)
        VALUE (#{dishName},#{dishDes},#{dishImg},#{price},#{created},#{updated},#{status},#{category.id})
    </insert>
    <update id="deleteDishById" parameterType="int" >
        UPDATE dish SET STATUS = 0 WHERE id = #{deleteId}
    </update>
</mapper>