<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edward.mt.mapper.UserMapper">
    <select id="login" parameterType="com.edward.mt.bean.User" resultType="com.edward.mt.bean.User">
        SELECT * FROM users WHERE user_name = #{userName}and pass_word = #{passWord}
    </select>

    <select id="checkData" resultType="com.edward.mt.bean.User">
        SELECT * FROM users
        <where>
            <if test="type == 1">
                user_name = #{checkData}
            </if>
            <if test="type == 2">
                email = #{checkData}
            </if>
        </where>
    </select>
    <insert id="addUser" parameterType="com.edward.mt.bean.User">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT last_insert_id();
        </selectKey>
        INSERT INTO users(user_name, pass_word, avatar, created, updated, status, email)
        VALUE (#{userName},#{passWord},#{avatar},#{created},#{updated},#{status},#{email})
    </insert>
    
    <update id="activeUser" parameterType="int">
        UPDATE users SET status = 1 WHERE id = #{id}
    </update>
    <select id="getInfo" parameterType="int" resultType="com.edward.mt.bean.User">
        SELECT * FROM users WHERE id = #{id}
    </select>
    <update id="updateUser" parameterType="com.edward.mt.bean.User">
        UPDATE users SET pass_word=#{passWord},email=#{email},updated=#{updated},avatar=#{avatar},nick_name=#{nickName} where id = #{id}
    </update>
</mapper>